header{
    padding: 10px;
}
.container{
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
    background-color: white;
    box-shadow: 5px 10px rgba(43, 40, 40, 0.5);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(43, 40, 40, 0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(43, 40, 40, 0.5); 
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
}
img{
    height: 100px;
    width: 100px;
}
body{
    background: rgb(192, 238, 236);
}
